# ignore eclipse files
/.settings/
/.cproject
/.project
/Debug/

# ignore compiled files
*.o
*.out

# ignore weird temporary files
*.cpp~
*.cu~
*.h~

# ignore python caches
__pycache__/
*.py[cod]
*$py.class

# ignore discrete initial conditions for now
/src/Initial_W_discret/

# ignore created data
/data/

# ignore all python scripts
/Python/

# ignore bin directory, because it's just going to be empty anyways for uploading
/bin/