/init_fields_comp_4_nodes_C256_F512_t1_T0/
/init_fields_conv_4_nodes_C256_F512_t1_T0/
/init_fields_forward_4_nodes_C256_F512_t1_T0/
/init_fields_none_4_nodes_C256_F512_t1_T0/
/init_fields_particles_4_nodes_C256_F512_t1_T0/
/init_fields_sample_4_nodes_C256_F512_t1_T0/
/init_fields_zoom_4_nodes_C256_F512_t1_T0/
